{% if intent=="check_consumption" %}
Considera le seguenti informazioni relative all'andamento dei consumi elettrici domestici: 
{{ data }}
{% elif intent=="check_production" %}
Considera le seguenti informazioni relative all'andamento di un impianto fotovoltaico:
{{ data }}
{% elif intent=="ask_optimization" %}
Considera i seguenti dati restituiti da un ottimizzatore che minimizza l'uso di energia dalla rete elettrica:
{{ data }}
{% endif %}

Usa le informazioni che ti ho appena fornito per rispondere alla seguente domanda: {{utterance}}



